@tailwind base;
@tailwind components;
@tailwind utilities;

#home::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

#testbox {
  background: #B91C1C;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #B91C1C 50%, #006400 50%);
  transition: background-position 1s;
}

#testbox:hover {
  background-position: 100% 0;
}

.text {
  background: black;
  background: linear-gradient(to top, black, rgb(255, 49, 49));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position .5s;
  background-size: 100% 200%;
  background-position: 0 100%;
}

.text:hover {
  background-position: 0;
}