@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");


/* Adding a dark overlay to the home and menuImage elements */
#home::before,
.menuImage::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

#home > *,
.menuImage > * {
  position: relative;
  z-index: 2;
}

/* Adding a background transition to the basetestbox element by making it double the size horozontally then translating it to the other half on hover*/
#basetestbox {
  background-size: 200% 100%;
  transition: background-position 1s;
}

#basetestbox:hover {
  background-position: 100% 0;
}

.testbox1 {
  background: #b91c1c;
  background-image: linear-gradient(to right, #006400 50%, #b91c1c 50%);
}

.testbox2 {
  background: #006400;
  background-image: linear-gradient(to right, #b91c1c 50%, #006400 50%);
}

/* Adding a linear gradient background to the text class and making the text transparent then changing the background position to a different position to imitatate a slow color change when hovered*/
.text {
  background: linear-gradient(to top, white, rgb(255, 49, 49));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.5s;
  background-size: 100% 300%;
  background-position: 0 100%;
}
.text:hover {
  background-position: 0 0;
}

/* Changing the background color and text color of the bg-transition class on hover */
.bg-transition {
  background-color: #b40404;
  color: white;
  transition: background-color 0.5s, color 0.5s;
}

.bg-transition:hover {
  background-color: #ffffff;
  color: black;
}


.text-shadow {
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff,
    0 0 40px #ffffff;
}


@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.dropdown-hover:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
}
